html, body {
  height: 100%;
  margin: 0;
}

#card-table {
  width: 460px;
  height: 400px;
}

.card {
  background: #DDD;
  padding: 0.2em;
  border-radius: 0.3em;
  border-right: 0.1em solid #666;
  border-bottom: 0.1em solid #666;
  border-left: 0.1em solid #cacaca;

  &.card-chosen{
    transform: translateY(-1em);
  }

  .suit-icon, .rank-icon{
    font-size: 1.3em;
    width: 1em;
    text-align: center;
  }

  &.suit-h{
    .suit-icon:after{
      content: '♥';
      color: red;
    }
  }
  &.suit-d{
    background: #84b771;
    .suit-icon:after{
      content: 'Ζ';
      color: #333;
    }
  }
  &.suit-s{
    .suit-icon:after{
      content: '♠';
      color: black;
    }
  }
  &.suit-c{
    .suit-icon:after{
      content: '♣';
      color: black;
    }
  }

  &:not(.face-up){
    background-color: #ffaeae;
    .suit-icon, .rank-icon{
      display: none;
    }
  }


  
}

#buttons{
  position: absolute;
  bottom: 0;
  left: 0;
}

#buttons button{
  font-size: 2em;
}
